

.container{
	width: 90%;
    height: 600px;
	margin: auto;
	background: #4642459e;
}
.container h2{
	margin: 0px;
    padding: 10px;
    text-align: center;
    color: #5bbb44;
}

.product{
	width: 20%;
	display: inline-block;
	border: 1px solid #fff;
	padding: 15px;
	margin: 5px -20px;
    background: #efba60;
    margin-left: 22px;
}
.product:hover{
	box-shadow: 1px 3px 20px #000;
    background-color:#0086abab;
}
.product-img img{
	width: 150px;
	height: 150px;
	display: block;
	margin: auto;

}

